@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #383840;
	--background: #f1f3f5;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #fff;
		--background: #383840;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
